@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.hidden {
  display: none !important;
}
table {
  border-collapse: collapse;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

select {
  padding: 2px;
  border: none;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.line {
  position: relative;
  height: 1px;
  width: 300px;
  background-color: gray;
  top: 20px;
}

.dark-shadow {
  box-shadow: 0px 1px 4px gray;
}

.width-200 {
  width: 200px !important;
}

/* Dashboard page css starts here */
/* .navbar {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: slategray;
  display: "flex";
  position: "relative";
  gap: "2rem";
  justify-content: "space-between";
  align-items: "center";
}
.navbar .user-detail h1 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.navbar .user-detail p {
  color: rgba(0, 0, 0, 0.80);
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.navbar form input{
  width: 523px;
height: 42px;
flex-shrink: 0;
} */

/* styles.css */

/* Header Container */
.homepage {
  padding: 8px 0px;
  max-width: 1200px;
  margin: auto;
  min-height: 100vh;
  background-color: #f6f6fb;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  position: relative;
}

/* User Info */
.user-info {
  padding: 0 2rem;
}

.user-info h1 {
  font-size: 1.125rem; /* text-lg */
  font-weight: bold;
}

.user-info p {
  font-size: 0.75rem; /* text-xs */
}

/* Search Form */
.search-form {
  display: flex;
  background: white;
  align-items: center;
  border-radius: 1rem;
  flex-grow: 1;
}

.search-icon {
  padding: 0 1rem;
  color: rgba(0, 0, 0, 0.5);
}

.search-form input {
  width: 100%;
  border-radius: 1rem;
  font-size: 0.75rem; /* text-xs */
  padding: 1rem;
  outline: none;
  border: none;
}

/* Notification */
.notification {
  align-items: center;
  gap: 0.25rem;
}

.notification p {
  font-size: 0.75rem; /* text-xs */
  color: rgba(0, 0, 0, 0.5);
}

/* Alerts */
.alerts {
  position: relative;
}

.notification-icon {
  width: 1.5rem;
}

.notification-count {
  position: absolute;
  width: 0.875rem;
  height: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: -0.5rem;
  right: -0.5rem;
  color: #094394;
  background: #bfdbfe; /* bg-blue-200 */
  font-size: 0.625rem; /* text-[10px] */
}

/* Profile */
.profile {
  padding-right: 12px;
}

/* Mobile Menu */
.mobile-menu {
  display: none;
}

/* Mobile Navigation */
.mobile-nav {
  z-index: 9999;
  /* display: none; */
  padding: 1.5rem 0.5rem;
  position: absolute;
  top: 100%;
  right: 0;
}

.mobile-nav ul {
  padding: 1rem 3rem;
  display: grid;
  gap: 1rem;
  background: white;
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  font-size: 0.75rem; /* text-xs */
}
.mobile-nav li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

/* main homepage section starts here */
.main-dashboard {
  margin: 22px;
  padding: 22px;
  border-radius: 21px;
  background-color: #fff;
}

.main-dashboard .title {
  color: rgba(0, 0, 0, 0.6);
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.36px;
}
.dashboard-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 12px;
}

.main-dashboard-grid {
  display: grid;
  gap: 12px;
}

.main-dashboard .featured-banner {
  position: relative;
  /* width: 714px; */
  /* height: 252px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    rgba(66, 118, 252, 0.8) 0%,
    rgba(217, 217, 217, 0.4) 100%
  );
  box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.53);
}

.main-dashboard .featured-banner .date {
  position: absolute;
  top: 0;
  left: 0;
  padding: 12px;
  color: white;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main-dashboard .banner-grid {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-dashboard .banner-grid .main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  position: relative;
}
.main-dashboard .banner-grid .main .center {
  border-radius: 10px;
  background: rgba(250, 166, 49, 0.7);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  padding: 20px;
  color: rgba(0, 0, 0, 0.61);
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.main-dashboard .banner-grid .main .center h1 {
  color: black;
  padding: 12px;
  border-radius: 10px;
  background: rgba(250, 166, 49, 0.7);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

.main-dashboard .banner-grid .main .top-left {
  padding: 15px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  position: absolute;
  transform: translate(-100%, -60%);
}
.main-dashboard .banner-grid .main .top-left h1 {
  color: white;
  font-size: small;
  padding: 10px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

.main-dashboard .banner-grid .main .bottom-left {
  padding: 15px;
  background: rgba(77, 147, 244, 0.5);
  border-radius: 8px;
  position: absolute;
  transform: translate(-100%, 80%);
}
.main-dashboard .banner-grid .main .bottom-left h1 {
  color: white;
  font-size: small;
  padding: 10px;
  border-radius: 10px;
  background: rgba(77, 147, 244, 0.6);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

.main-dashboard .banner-grid .main .right-top {
  padding: 15px;
  background: rgba(122, 205, 147, 0.5);

  border-radius: 8px;
  position: absolute;
  transform: translate(100%, -80%);
}
.main-dashboard .banner-grid .main .right-top h1 {
  color: white;
  font-size: small;
  padding: 10px;
  border-radius: 10px;
  background: rgba(122, 205, 147, 0.7);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

.main-dashboard .banner-grid .main .right-bottom {
  padding: 15px;
  background: rgba(77, 147, 244, 0.5);
  border-radius: 8px;
  position: absolute;
  transform: translate(100%, 80%);
}
.main-dashboard .banner-grid .main .right-bottom h1 {
  color: white;
  font-size: small;
  padding: 10px;
  border-radius: 10px;
  background: rgba(77, 147, 244, 0.6);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
}

.main-dashboard .main-dashboard-grid .trash {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.banner-grid img {
  width: 189.418px;
  height: 209.221px;
  transform: rotate(-15deg);
  flex-shrink: 0;
}

.stats-container {
  position: relative;
  gap: 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 16px;
}

.stats-container .stats-container-item {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  padding: 12px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.stats-container .stats-container-item:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0px 11px 11px 0px rgba(0, 0, 0, 0.33);
}

.stats-container .stats-container-item h1 {
  font-size: 19px;
  color: gray;
}
.stats-container .stats-container-item p {
  padding: 0px 12px;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  color: rgba(9, 67, 148, 0.7);
}
.stats-container .trash {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.main-dashboard .main-dashboard-grid .activity-log {
  position: relative;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.29);
  width: 100%;
}

.main-dashboard .main-dashboard-grid .activity-log .activity-log-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-dashboard .main-dashboard-grid .activity-log .activity-log-header h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-dashboard .main-dashboard-grid .activity-log .activity-log-header button {
  padding: 0px 18px;
  border-radius: 4px;
  background: rgba(55, 137, 251, 0.3);

  color: #094394;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.main-dashboard .main-dashboard-grid .activity-log .activity-log-body {
  display: grid;
}

.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item {
  padding: 8px;
}

.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-top {
  display: flex;
  gap: 4px;
  align-items: center;
}
.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-top
  span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-top
  span {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-main {
  border-radius: 8px;
  border: 0.2px solid rgba(0, 0, 0, 0.2);
  background: #fff;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.15);
}

.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-main
  .activity-log-item-main-top {
  padding: 12px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-main
  .activity-log-item-main-top
  div {
  display: flex;
  gap: 8px;
  align-items: center;
}

.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-main
  .activity-log-item-main-top
  button {
  color: white;
  padding: 0px 4px;
  border: none;
  border-radius: 4px;
  background: rgba(55, 137, 251, 0.7);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
}

.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-main
  .activity-log-item-main-top
  h1 {
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-main
  .activity-log-item-main-top
  p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-main
  .activity-log-item-main-bottom {
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-main
  .activity-log-item-main-bottom
  div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-main
  .activity-log-item-main-bottom
  h2 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main-dashboard
  .main-dashboard-grid
  .activity-log
  .activity-log-body
  .activity-log-item
  .activity-log-item-main
  .activity-log-item-main-bottom
  p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.activity-log .trash {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* service manager section starts here */
.service-manager .service-manager-body {
  padding: 12px;
  display: flex;
  gap: 12px;
  /* padding: 12px; */
}

.service-manager-body-lefttttt{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.service-manager-body-left-itemmm{
  display: flex;
  align-items: center;
}
.service-manager-body-left-itemmm .active{
  background: rgba(77, 147, 244, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.service-manager-body-left-itemmm button{
  font-size: 12px;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.service-manager-body-left-itemmm svg{
  width: 15px;
}









































.service-manager .service-manager-body-left {
  display: flex;
  flex-direction: column;
  gap: 12px;
}












.service-manager .service-manager-body-left div {
  display: flex;
  align-items: center;
  gap: 4px;
}

.service-manager .service-manager-body-left button {
  padding: 2px 8px;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 4px;
}

.service-manager .service-manager-body-left .active {
  color: #094394;
  background: rgba(77, 147, 244, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.service-manager-body-right {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 12px;
}
.service-manager-body-right-grid-item div {
  padding: 4px;
}
.service-manager-body-right-grid-item h5 {
  color: #fff;
  text-align: right;
  font-size: 8px;
  font-weight: 500;
}
.service-manager-body-right-grid-item p {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.service-manager-body-right-grid-item h1 {
  padding: 0px 12px;
  color: white;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}

.service-manager-body-right-grid-item svg {
}

.service-manager-body-right-grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  /* box-shadow: 0px 11px 11px 0px rgba(0, 0, 0, 0.33); */
}
.service-manager-body-right-grid-item:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0px 11px 11px 0px rgba(0, 0, 0, 0.33);
}

.service-manager-body-right-grid-item-1 {
  background: linear-gradient(
    97deg,
    rgba(9, 67, 148, 0.68) 3.01%,
    rgba(93, 160, 252, 0.68) 98.75%
  );
}
.service-manager-body-right-grid-item-2 {
  background: linear-gradient(
    97deg,
    rgba(255, 0, 0, 0.39) 3.01%,
    rgba(93, 160, 252, 0.78) 98.75%
  );
}
.service-manager-body-right-grid-item-3 {
  background: linear-gradient(
    97deg,
    rgba(48, 167, 83, 0.55) 3.01%,
    rgba(93, 160, 252, 0.78) 98.75%
  );
}
.service-manager-body-right-grid-item-4 {
  background: linear-gradient(
    97deg,
    rgba(9, 67, 148, 0.68) 3.01%,
    rgba(93, 160, 252, 0.68) 98.75%
  );
}
.service-manager-body-right-grid-item-5 {
  background: linear-gradient(
    97deg,
    rgba(255, 0, 0, 0.39) 3.01%,
    rgba(93, 160, 252, 0.78) 98.75%
  );
}
.service-manager-body-right-grid-item-6 {
  background: linear-gradient(
    97deg,
    rgba(48, 167, 83, 0.55) 3.01%,
    rgba(93, 160, 252, 0.78) 98.75%
  );
}

/* client invoice section starts here */

.client-invoice-body-left div {
  padding: 4px 0px;
  display: grid;
}

.client-invoice-body-left button {
  padding: 2px 8px;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 4px;
}
.client-invoice-body-left .active {
  color: #094394;
  background: rgba(77, 147, 244, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.client-invoice-body-right-grid-item h1 {
  font-size: 14px !important;
}

/* targeted-dashboard-body */

.targeted-dashboard {
  position: relative;
  margin: 16px 0px;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.29);
  width: 100%;
}
.targeted-dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.targeted-dashboard-header h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.targeted-dashboard-header button {
  padding: 0px 18px;
  border-radius: 4px;
  background: rgba(55, 137, 251, 0.3);

  color: #094394;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: none;
}

.targeted-dashboard-body {
  padding: 16px 0px;
  display: grid;
  gap: 12px;
}

.targeted-dashboard-item {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
}

.targeted-dashboard-body .targeted-dashboard-item .progress {
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.5) 0%,
    #f8944c 26.31%,
    #ffe609 51.84%,
    #b8ff8e 76.53%,
    #24b200 100%
  );
}

.targeted-dashboard-item .targeted-dashboard-item-left {
  padding: 12px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 1px 9px 0px rgba(0, 0, 0, 0.25);
  flex-shrink: 0;
}

.targeted-dashboard-item .targeted-dashboard-item-right {
  padding: 12px;
  border-radius: 7px;
  background: #fff;
  flex-shrink: 0;
}

.targeted-dashboard-item .targeted-dashboard-item-left h1,
.targeted-dashboard-item .targeted-dashboard-item-right h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.targeted-dashboard-item .targeted-dashboard-item-left span,
.targeted-dashboard-item .targeted-dashboard-item-left p,
.targeted-dashboard-item .targeted-dashboard-item-right p {
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.targeted-dashboard-item-left-status-p {
  border-radius: 2px;
  background: rgba(77, 147, 244, 0.15);
}
.targeted-dashboard .trash {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

/* service manager bottom */
.service-manager {
  position: relative;
}
/* .service-manager-bottom table {
  width: 860px;
  overflow: scroll;
} */

.service-manager-body-left-item svg {
  padding: 4px;
  background: rgba(77, 147, 244, 0.2);
  border-radius: 0px 15px 15px 0px;
}

.service-manager-bottom .service-manager-body-left-item {
  display: flex !important;
}
.service-manager-bottom .service-manager-body-left-item button {
  display: flex !important;
  flex-grow: 1;
  justify-content: center;
}

.service-manager-bottom .service-manager-body-left-item button {
  padding: 2px 8px;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 4px;
}
.service-manager-bottom .service-manager-body-left-item .active {
  color: #094394;
  background: rgba(77, 147, 244, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.service-manager-bottom .service-manager-body-right {
  overflow-x: auto;
  border-radius: 12px;
  background: rgba(217, 217, 217, 0.15);
  width: 100%;
  display: flex;
}

.service-manager-bottom .service-manager-body-right thead th {
  text-align: left;
  padding: 4px 20px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.service-manager-bottom .service-manager-body-right thead svg {
  display: inline-flex;
  padding: 6px 0px 0px 0px;
}

.service-manager-bottom .service-manager-body-right tbody tr td {
  flex-grow: 1;
  padding: 4px 20px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.service-manager-bottom .service-manager-body-right tbody .email {
  color: #094394;
}

/* module add section */
.module-add {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.module-add button {
  border: none;
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(55, 137, 251, 0.7);
}

/* dashbiard right task manager header */
.dashboard-right {
  gap: 12px;
  width: 100%;
  overflow: hidden;
  columns: 1fr;
}
.dashboard-right .task-manager {
  position: relative;
  padding: 16px;
  border-radius: 11px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
}

.dashboard-right .task-manager-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-right .task-manager-header h1 {
  color: rgba(20, 20, 20, 0.8);
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.dashboard-right .task-manager-header select {
  padding: 2px;
  border: none;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.dashboard-right .task-manager-header button {
  border-radius: 4px;
  background: rgba(55, 137, 251, 0.3);
  padding: 4px 18px;
  border: none;
}
.dashboard-right .task-manager .filter {
  padding: 16px 0px;
  overflow-x: auto;
  display: flex;
  gap: 12px;
  align-items: center;
}

/* card */
.dashboard-right .card {
  cursor: pointer;
  display: grid;
  gap: 8px;
  margin: 16px 0px;
  padding: 16px;
  border-radius: 11px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.dashboard-right .card:hover {
  transition: 0.5s ease-in-out;
  box-shadow: 0px 18px 14px -3px rgba(0, 0, 0, 0.42);
}

/* .dashboard-right .card:hover > img{
  filter: grayscale(0%);
  rotate: 100deg;
} */

.dashboard-right .high,
.dashboard-right .medium {
  border-radius: 3px;
  background: rgba(255, 0, 0, 0.4);
  display: inline-flex;
  padding: 1px 11px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 8px;
  font-weight: 500;
  color: white;
}
.dashboard-right .card .date {
  color: rgba(0, 0, 0, 0.7);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dashboard-right .card h1 {
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dashboard-right .card .time {
  color: rgba(0, 0, 0, 0.7);
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dashboard-right .card .card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dashboard-right .card .card-bottom .done {
  color: #094394;
  padding: 1px 15px;

  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 4px;
  background: rgba(48, 167, 83, 0.38);
}

.dashboard-right .card .card-bottom .pending {
  color: #094394;
  padding: 1px 15px;

  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 4px;
  background: #e3f2ff;
}
.dashboard-right .card .card-bottom .cancelled {
  color: #f94005;

  padding: 1px 15px;

  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 4px;
  background: #ffe9e1;
}

.dashboard-right .add-btn {
  background-color: transparent;
  margin: auto;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-right .task-manager .trash {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

/* visda section */
.dashboard-right .visa-section {
  margin: 16px 0px;
  position: relative;
  padding: 16px;

  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.29);
}

.dashboard-right .visa-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-right .visa-section-header h1 {
  padding: 12px 0px;
  color: rgba(20, 20, 20, 0.8);
  font-size: 19px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.dashboard-right .visa-section-header select {
  padding: 2px;
  border: none;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.25);
}

.dashboard-right .visa-section-body table {
  width: 100%;
}
.dashboard-right .visa-section-body .expiry {
  border-radius: 4px;
  background: rgba(255, 0, 0, 0.12);
  color: #d73e3e;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dashboard-right .visa-section-body .th-name {
  display: flex;
  justify-content: center;
  border-radius: 4px;
  background: rgba(48, 167, 83, 0.08);
  color: #167e46;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dashboard-right .visa-section-body tbody tr {
  margin: 4px 0px;
}

.dashboard-right .visa-section-body tbody .left {
  display: flex;
  align-items: center;
}
.dashboard-right .visa-section-body tbody .reg-no {
  border-radius: 8px;
  background: rgba(217, 217, 217, 0.4);
  padding: 4px 0px;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 10px;

  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dashboard-right .visa-section-body tbody p {
  padding: 4px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dashboard-right .visa-section-body tbody .name {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.dashboard-right .visa-section-body tbody button {
  padding: 3px 4px;
  border: none;
  color: #094394;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.dashboard-right .visa-section .trash {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

/* check ng */
.dashboard-right .check-in {
  margin: 16px 0px;
  position: relative;
  padding: 16px;

  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.29);
}

.dashboard-right .check-in-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard-right .check-in-header h1 {
  /* padding: 12px 0px; */
  color: rgba(0, 0, 0, 0.6);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dashboard-right .check-in-header button {
  color: #094394;
  border-radius: 4px;
  background: rgba(55, 137, 251, 0.3);
  padding: 2px 18px;
  border: none;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
}

.dashboard-right .check-in-body .card {
  margin: 12px 0px;
  padding: 19px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  border-radius: 12px;
  background: linear-gradient(
    97deg,
    rgba(9, 67, 148, 0.68) 3.01%,
    rgba(93, 160, 252, 0.68) 98.75%
  );
}
.dashboard-right .check-in-body .card:hover {
  transition: 0.3s ease-in-out;
  box-shadow: 0px 11px 11px 0px rgba(0, 0, 0, 0.33);
}

.dashboard-right .check-in-body .card-1 {
  background: linear-gradient(
    97deg,
    rgba(9, 67, 148, 0.68) 3.01%,
    rgba(93, 160, 252, 0.68) 98.75%
  );
}
.dashboard-right .check-in-body .card-2 {
  background: linear-gradient(
    97deg,
    rgba(255, 0, 0, 0.39) 3.01%,
    rgba(93, 160, 252, 0.78) 98.75%
  );
}
.dashboard-right .check-in-body .card-3 {
  background: linear-gradient(
    97deg,
    rgba(48, 167, 83, 0.55) 3.01%,
    rgba(93, 160, 252, 0.78) 98.75%
  );
}
.dashboard-right .check-in-body .card .card-left {
  flex-grow: 1;
}

.dashboard-right .check-in-body .card h1 {
  color: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.dashboard-right .check-in-body .card p {
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dashboard-right .check-in-body .card h2 {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dashboard-right .check-in .trash {
  position: absolute;
  right: 10px;
  bottom: 10px;
  cursor: pointer;
}

/* model */
.model-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  padding: 25px;
  width: 704px;
  height: 468px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.43);
}

.model-container .model-header {
  padding: 0px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.model-container .model-header h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.96px;
}
.model-container .model-header button {
  border: none;
  cursor: pointer;
  background: white;
}
.model-container .model-grid {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.model-container .model-grid .card {
  padding: 17px 23px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
}
.model-container .model-grid .card h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.64px;
}
.model-container .model-grid .card button {
  border: none;
  border-radius: 4px;
  background: rgba(55, 137, 251, 0.3);
  padding: 8px;
  color: #094394;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* Media Queries */
/* @media (max-width: 1130px) {
  .task-manager-header h1,
  .visa-section-header h1 {
    font-size: 15px !important;
  }
} */
@media (max-width: 1024px) {
  .main-dashboard {
    margin: 12px;
    padding: 18px;
    border-radius: 21px;
    background-color: #fff;
  }

  .main-dashboard .title {
    font-size: 25px;
  }
  .main-dashboard .featured-banner .date {
    font-size: 16px;
  }
  .main-dashboard .banner-grid .main .center h1 {
    padding: 8px;
    font-size: 14px;
  }
  .main-dashboard .banner-grid .main .center {
    padding: 14px;
  }
}
@media (max-width: 1024px) {
  .dashboard-container {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
}
@media (max-width: 768px) {
  .search-form {
    display: none;
  }
  .alerts {
    display: none;
  }
  .profile {
    display: none;
  }

  .mobile-menu {
    padding-right: 12px;
    display: flex;
  }

  .hidden{
    display: none !important;
  }

  /* faetured */
  .main-dashboard .title {
    font-size: 18px !important;
  }
  .main-dashboard .featured-banner .date {
    font-size: 16px;
  }
  .main-dashboard .banner-grid .main .center h1 {
    padding: 8px;
    font-size: 14px;
  }
  .main-dashboard .banner-grid .main .center {
    padding: 14px;
  }
  .main-dashboard .banner-grid .main .top-left {
    padding: 0px;
    background: transparent;
    border-radius: 8px;
  }
  .main-dashboard .banner-grid .main .top-left h1 {
    padding: 8px;
  }
  .main-dashboard .banner-grid .main .bottom-left {
    padding: 0px;
    background: transparent;
    border-radius: 8px;
  }
  .main-dashboard .banner-grid .main .bottom-left h1 {
    padding: 8px;
  }
  .main-dashboard .banner-grid .main .right-top {
    padding: 0px;
    background: transparent;
    border-radius: 8px;
  }
  .main-dashboard .banner-grid .main .right-top h1 {
    padding: 8px;
  }
  .main-dashboard .banner-grid .main .right-bottom {
    padding: 0px;
    background: transparent;
    border-radius: 8px;
  }
  .main-dashboard .banner-grid .main .right-bottom h1 {
    padding: 8px;
  }

  /* stats-container */
  .stats-container {
  }
  .stats-container .stats-container-item {
    padding: 12px;
    gap: 8px;
  }
  .stats-container-item img {
    width: 32px;
  }
  .stats-container .stats-container-item h1 {
    font-size: 15px;
  }
  .stats-container .stats-container-item p {
    padding: 0px 8px;
    font-size: 18px;
  }

  /* service section */
  .service-manager-body-right {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
  }
  .service-manager-body-right-grid-item h1 {
    padding: 0px 8px;
    font-size: 18px;
  }
  .service-manager-body-right-grid-item svg {
    width: 100px;
    height: 40px;
  }

  .service-manager-bottom {
    /* display: none; */
  }

  /* targeted dashboard */
  .targeted-dashboard-item {
    gap: 4px;
  }
  .targeted-dashboard-item .targeted-dashboard-item-left h1,
  .targeted-dashboard-item .targeted-dashboard-item-right h1 {
    font-size: 11px;
    font-weight: 600;
  }
  .targeted-dashboard-item .targeted-dashboard-item-left span,
  .targeted-dashboard-item .targeted-dashboard-item-left p,
  .targeted-dashboard-item .targeted-dashboard-item-right p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  /* service manager bottom */
  .service-manager .service-manager-body {
    padding: 12px;
    display: block;
    gap: 12px;
    /* padding: 12px; */
  }

  /* model */
  .model-container {
    padding: 15px;
    width: 300px;
    height: auto;
  }

  .model-container .model-header h1 {
    font-size: 15px;
  }

  .model-container .model-grid {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .model-container .model-grid .card {
    gap: 8px;
    padding: 4px;
  }
  .model-container .model-grid .card h1 {
    font-size: 12px;
  }

  .service-manager-bottom .service-manager-body-right tbody tr td {
    flex-grow: 1;
    padding: 4px 20px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
}

@media (max-width: 500px) {
  /* main dahboard */
  .main-dashboard .title {
    font-size: 18px !important;
    padding: 10px 0px;
  }

  .main-dashboard {
    margin: 10px;
    padding: 8px;
    border-radius: 0px;
    background-color: #fff;
  }
  /* banner */
  .main-dashboard .banner-grid {
    flex-direction: column-reverse;
  }
  .main-dashboard .banner-grid .main {
    padding: 20px 0px;
  }
  .banner-grid img {
    width: 150px;
    height: 150px;
    transform: rotate(-15deg);
    flex-shrink: 0;
  }

  .main-dashboard .banner-grid .main .right-top h1 {
    font-size: 10px;
  }
  .main-dashboard .banner-grid .main .right-bottom h1 {
    font-size: 10px;
  }
  .main-dashboard .banner-grid .main .top-left h1 {
    font-size: 10px;
  }
  .main-dashboard .banner-grid .main .bottom-left h1 {
    font-size: 10px;
  }

  /* stats */
  .stats-container {
    grid-template-columns: 1fr;
  }

  /* activity */
  .main-dashboard
    .main-dashboard-grid
    .activity-log
    .activity-log-body
    .activity-log-item {
    padding: 8px 0px;
  }
  .main-dashboard
    .main-dashboard-grid
    .activity-log
    .activity-log-body
    .activity-log-item
    .activity-log-item-main
    .activity-log-item-main-top
    h1 {
    font-size: 12px;
  }
  .main-dashboard
    .main-dashboard-grid
    .activity-log
    .activity-log-body
    .activity-log-item
    .activity-log-item-main
    .activity-log-item-main-top
    p {
    color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
  }
  .main-dashboard
    .main-dashboard-grid
    .activity-log
    .activity-log-body
    .activity-log-item
    .activity-log-item-main
    .activity-log-item-main-bottom
    h2 {
    color: rgba(0, 0, 0, 0.6);
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .main-dashboard
    .main-dashboard-grid
    .activity-log
    .activity-log-body
    .activity-log-item
    .activity-log-item-main
    .activity-log-item-main-bottom
    p {
    padding: 0px 0px 0px 4px;
    font-size: 11px;
  }
  .main-dashboard
    .main-dashboard-grid
    .activity-log
    .activity-log-body
    .activity-log-item
    .activity-log-item-main
    .activity-log-item-main-top
    div {
    display: grid;
    gap: 2px;
  }

  /* service section */
  .service-manager-body-right {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
  }

  /* task manager */
  .dashboard-right .task-manager-header {
    display: flex;
    flex-wrap: wrap;
  }
  .dashboard-right .task-manager-header h1 {
    font-size: 15px;
  }
  .dashboard-right .visa-section-header h1 {
    padding: 12px 0px;
    font-size: 15px;
  }

  /* target dashboard */
  .targeted-dashboard-body {
    overflow: hidden;
  }
  .targeted-dashboard-item {
    min-width: 300px;
    overflow: scroll;
  }
  .targeted-dashboard-item .targeted-dashboard-item-left {
    padding: 12px;
    border-radius: 7px;
    background: #fff;
    box-shadow: none;
    flex-shrink: 1;
  }
  .targeted-dashboard-body .targeted-dashboard-item .progress {
    /* rotate: -90deg; */
    width: 100px;
    height: 4px;
    border-radius: 5px;
    background: linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.5) 0%,
      #f8944c 26.31%,
      #ffe609 51.84%,
      #b8ff8e 76.53%,
      #24b200 100%
    );
  }
}
